.navegacao {
    position: relative;
    background: var(--cor-fundo);
    height: 112px;

    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 100vw;
    padding: 1rem 2.5rem;
    transition: transform .5s, background .4s;
}

.navegacao .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1440px;
    column-gap: 3rem;
    width: 100%;
}

.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-txt);
    transition: all .3s;

    &.active {
        color: var(--cor-principal);
        font-weight: 800;
        border-bottom: 2px solid var(--cor-principal);
        padding-bottom: 8px;
    }

    a.transitioning {
        opacity: 0.5;
    }

    a.pending {
        animation: pulse 1s infinite;
    }

}

.navegacao .menu {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 2rem 1rem;
    background: var(--cor-fundo);
    z-index: 100;
    transition: all .5s;

    &.show {
        bottom: calc(-100% - 112px);
    }
}

.navegacao .logotipo {
    z-index: 101;
    width: clamp(200px, 50vw, 350px);
}



@media (min-width: 744px) {
    .navegacao .menu {
        position: relative;
        flex-flow: row nowrap;
        bottom: auto;
        padding: 0;
        width: fit-content;
        background: transparent;
    }

    .navegacao .menu-btn {
        display: none;
    }
}