* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --cor-principal: #ff3131;
  --cor-secundaria: #ff9393;
  --cor-container: #fff;
  --cor-fonte-post: #282828;
  --cor-txt: #191a29;
  --cor-fundo: #F8FAFC;
  --cor-fundo: #F8FAFC;
  --cor-fundo-2: #191a29;
  --fonte-principal: 'Raleway', sans-serif;
  --fonte-secundaria: 'Poppins', sans-serif;
  font-family: var(--fonte-principal);
}

[data-theme='dark'] {
  --cor-txt: #fff;
  --cor-fundo: #191a29;
  --cor-fundo-2: #1B1B2F;
  --cor-fonte-post: #FFFAEC;
  --cor-container: #1B1B2F;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
  background: var(--cor-fundo);
  transition: background .4s;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 5rem;
}

.supertitle {
  font-family: var(--fonte-secundaria);
  padding: 0 7.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.neon-text {
  animation: Neon infinite 3s;
}

.strong-text {
  color: var(--cor-principal);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 800;

  &:hover {
    color: var(--cor-secundaria);
  }
}

@keyframes Neon {

  0%,
  100% {
    filter: none;
  }

  50% {
    filter: drop-shadow(0px 0px 5px var(--cor-principal));
  }
}